@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-green: 
}

body {
  font-family: 'Roboto', sans-serif;
}
/***NAVBAR***/
.logo {
  width: 3.5rem;
}

/* MENU LINKS */
nav a.nav-link {
  letter-spacing: 0.04rem;
  cursor: pointer;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 3 !important;
  /* height: 6rem !important; */
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active.focus {
  border-top: 0.0375rem;

}